.backdropModal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  padding: 2rem;
  display: block;
  opacity: 1;
}
.visibleModal {
  display: none;
}
