.footer {
  background-color: var(--card);
  margin-top: 7rem;
}
.footer > div {
  padding: 2rem;
  max-width: 768px;
  margin: auto;
}
.footerHead div:nth-child(1) {
  display: none;
}
.footerHead button {
  width: 100%;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: var(--violet);
  color: white;
  font-weight: 700;
  border: none;
  transition: all 0.4s ease;
}
.footerHead button:hover {
  background-color: var(--ligth-violet);
}

@media (min-width: 768px) {
  .footer > div {
    padding: 2rem 0rem;
  }
  .footerHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerHead div:nth-child(1) {
    display: block;
  }
  .footerHead div p:nth-child(1) {
    color: var(--text);
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 1.5rem;
  }
  .footerHead div p:nth-child(2) {
    color: var(--violet);

    font-weight: 700;
  }
}
